<div class="login-container">
  <mat-card>
    <form [formGroup]="userForm" class="form-container">
      <div class="title">
        <h4>Login</h4>
      </div>
      <div class="field-wrap-container">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Enter your login"
            formControlName="login"
            autocomplete="off"
          >
          <mat-icon matSuffix class="icon">account_circle</mat-icon>
          <mat-error *ngIf="userForm.get('login').invalid">{{getErrorMessage('login')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="field-wrap-container">
        <mat-form-field>
          <input
            matInput
            placeholder="Enter your password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          >
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="userForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <a mat-raised-button color="primary" (click)="submitForm()" [disabled]="!userForm.valid">Login</a>
        <a mat-raised-button color="primary" routerLink="/registration">To registration</a>
      </div>
    </form>
  </mat-card>
  <notifier-container></notifier-container>
</div>

