<div class="map-container">
  <div #gmap class="map"></div>
  <div class="info-container">
    <div class="input-container">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter address"
          [formControl]="search"
          autocomplete="off"
          #activeInput
        >
        <mat-icon matSuffix class="icon">search</mat-icon>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="setLocation()"
        class="my-location-button"
      >
        <mat-icon matSuffix class="icon">gps_fixed</mat-icon>
      </button>
    </div>
    <div class="favourite-places-container">
      <div class="favourite-place-button-container">
        <button
          mat-raised-button
          color="primary"
          (click)="addToFavouritePlaces()"
          class="add-to-favourite-places-button"
        >
          Add to favourite places
        </button>
      </div>
      <div class="favourite-place-list-container">
        <mat-list class="favourite-place-list">
          <mat-list-item *ngFor="let item of favouritePlaces" (click)="getFavouritePlace(item.latitude, item.longitude)" class="favourite-list-item">
            <div class="favourite-list-item-icon" (click)="deleteFavouritePlace(item.address);$event.stopPropogation()">
              <mat-icon mat-list-icon>remove</mat-icon>
            </div>
            <div class="favourite-list-item-text">
              <h3 mat-line>{{item.address}}</h3>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
<notifier-container style="position: fixed;"></notifier-container>
