.toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 10vh;
  overflow:hidden;
}

.log-out {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  padding-right: 1%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.nav a {
  width: 30%;
}

.favourites-films-link {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
